html {
    height: 100%;
}

body {
    overflow: hidden;
}

footer {
    margin-left: 1rem;
    margin-right: 1rem;
}

.border-with-shadow {
    /*background-color: #f7f7f7;*/
    border: solid 2px #155177;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wcag-contrast {
    margin-right: 5px;
    cursor: pointer;
}

#header {
    border-bottom: solid 3px #155177;
    margin-bottom: 1em;
}

#root {
    /*margin: 0 auto;*/
    /*padding: 1rem;*/
    text-align: center;
    height: 100%;
}
